 .footer {
            padding: 5%;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 25px;
          font-family: 'Montserrat'; font-size: 1vw;
          text-align: center;
            background: white;
        }

  body {
    font-family: 'Montserrat';font-size: 2.5vw;
    margin: 0;
}

  p, h1 {
        padding-left: 5%;
        padding-right:5%;

      }
      .subtext
      {font-size:1.5vw
      }


.lgo {
  width: 100%;
}

.decorative {
 opacity: .5;
  width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: block;
}

.ebook {
  width:100%;
  padding-left: 0;
}

.main {
 display: block;
 padding-top: 100px;
 padding-bottom: 100px;
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 40%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}




/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.contactform {
  padding-left: 5%;
 
}

.formelement {
 font-family: 'Montserrat';
 font-size: 1.5vw;
}
 
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed; /* Set the navbar to fixed position */
 z-index:1;
  top: 0; /* Position the navbar at the top of the page */
 padding-left:5%;
  width: 90%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  /*padding: 14px 16px;*/
  text-decoration: none;
 max-width: 20%;
}

/* Change background on mouse-over 
.navbar a:hover {
  background: #ddd;
  color: black;
}*/

/* Main content 
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}*/
