 .footer {
            padding: 5%;
            padding-bottom: 15%;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 25px;
          font-family: 'Montserrat'; font-size: 1vw;
          text-align: center;
            background: white;
        }

  body {
    font-family: 'Montserrat';font-size: 2.5vw;
    margin: 0;
}

  p, h1 {
        padding-left: 5%;
        padding-right:5%;

      }
      .subtext
      {font-size:1.5vw
      }


.lgo {
  width: 100%;
}

.decorative {
 opacity: .3;
  width: 100%;
 padding-top: 12%;
}


.ebook {
  width:100%;
  padding-left: 0;
}

.main {
 display: block;
 padding-top: 13%;
}

.tip {
width: 30%;
  margin-left: 5%;
}

.cover {
 display: block;
 margin: auto;
 width: 40%;
}

.contactform {
  padding-left: 5%;
 
}

.formelement {
 font-family: 'Montserrat';
 font-size: 1.5vw;
}
 
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed; /* Set the navbar to fixed position */
 z-index:1;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
 max-height: 18%;
 padding-left:5%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
 padding-right: 16px;
  text-decoration: none;
 max-width: 20%;
}
.barlabel {
 padding-top:3%;
}

/* Change background on mouse-over 
.navbar a:hover {
  background: #ddd;
  color: black;
}*/

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: white;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

