 .footer {
            padding: 10px 10px 0 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 25px;
          font-family: 'Montserrat'; font-size: 1vw;
          text-align: center;
            background: white;
        }

  body {
    font-family: 'Montserrat';font-size: 3vw;
    margin: 0;
}

      p, h1 {
        padding: 16px;
      }

